//
// Basic Global Reset
// --------------------------------------------------
 
/*
  Based on the Eric Meyer CSS Reset v2.0 (http://meyerweb.com/eric/tools/css/reset/)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 22px;
  font-family: Arial;
}

body {
	padding: 5px;
  background: #EDE6E3;
  color: #F06449;

}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 25px;
  color: #0B0B0A;
}

input {
	width: 100%;
	padding: 16px;
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  background: #0B0B0A;
  color: #FFC90B;
  text-align: center;
  font-size: 16px;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFC90B;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFC90B;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFC90B;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFC90B;
}

div.message {
  width: 100%;
  text-align: center;  
}

div.item {
  position: relative;
	width: 100%;
	text-align: center;
  text-transform: capitalize;
  margin: 2px 0;
  background: white;
  color: #0B0B0A;
}

div.item p {
  display: inline-block;
  margin: 14px 7px 12px;
}

p.add {
  font-size: 13px;
  font-style: italic;
  color: #888;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
}

button {
  position: absolute;
  width: 48px;
  height: 48px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  background: #0B0B0A;
  color: #FFC90B;
  border: none;
  top: 0;
  right: 0;
}

button:hover {
  background: black;
  color: white;
}